.App {
  padding: 10px;
  height: 100vh;
  width: 100vw;
  color:aliceblue
}

.VideoWrapper {
  height: 75vh;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:space-between;
  border: 1px solid red;
  padding: 10px;
}
.VideoCard {
  flex-basis: 46vh;
  height: 65vh;
  border: 1px solid black;
  margin: 10px;
}